/* 
    Document   : main
    Created on : 05/09/2012, 18:00:51
    Author     : vpaz
    Description:
        Purpose of the stylesheet follows.
*/

footer{
    width: 940px;
    margin-left: auto;
    margin-right: auto; 
}


