/* 
    Document   : main
    Created on : 05/09/2012, 18:00:51
    Author     : vpaz
    Description:
        Purpose of the stylesheet follows.
*/


.background-img{
    background-image:URL('https://kippt.com/static/img/base-noise.jpeg?141b58b60994');
}
